<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-file-share"
        version="4.2.0">

  <name>File Share from other App</name>

  <description>
	File Share from other App into Cordova App
  </description>

  <author>Alexander Blank, David Silva Ribeaux</author>

  <license>MIT</license>

  <keywords>File share, Import</keywords>

  <repo>https://github.com/ablank1998/File-Share-Import.git</repo>

  <issue>https://github.com/ablank1998/File-Share-Import/issues</issue>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
         <feature name="CordovaFileShare">
               <param name="ios-package" value="CordovaFileShare" />
               <param name="onload" value="true" />
         </feature>
    </config-file>

    <js-module src="www/ios/LaunchMyApp.js" name="LaunchMyApp">
      <clobbers target="window.plugins.launchmyapp" />
    </js-module>

    <config-file target="*-Info.plist" parent="UIFileSharingEnabled">
     <true/>
    </config-file>		
    <config-file target="*-Info.plist" parent="CFBundleDocumentTypes">
    <array>
      <dict>
        <key>CFBundleTypeName</key>
        <string>${PRODUCT_NAME}</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.data</string>
          <string>public.text</string>
          <string>public.image</string>
          <string>public.audio</string>
          <string>public.audiovisual-content</string>
          <string>public.xml</string>
          <string>public.movie</string>
          <string>public.font</string>
          <string>com.adobe.postscript</string>
          <string>com.adobe.pdf</string>
          <string>org.gnu.gnu-zip-archve</string>
        </array>
      </dict>
    </array>
    </config-file>

    <header-file src="src/ios/CordovaFileShare.h" />
    <source-file src="src/ios/CordovaFileShare.m" /> 

  </platform>
</plugin>
